@font-face {
  font-family: 'iconfont';  /* project id 408359 */
  src: url('http://at.alicdn.com/t/font_408359_jk9mbjamjr6kcsor.eot');
  src: url('http://at.alicdn.com/t/font_408359_jk9mbjamjr6kcsor.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_408359_jk9mbjamjr6kcsor.woff') format('woff'),
  url('http://at.alicdn.com/t/font_408359_jk9mbjamjr6kcsor.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_408359_jk9mbjamjr6kcsor.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
header{
	width: 100%;
	height: .45rem;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	
}
.head-zuo{
	width: .32rem;
	height: .45rem;
	background: #fff url('../img/shouye1.png');
	background-size: .40rem .45rem;
	margin: 0px .13rem;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;

}
.head-zj{
	width: 2.65rem;
	height: 100%;
	background-color: #fff;
	float: left;
	position: absolute;
	left: .62rem;
}
.head-zj-tu{
	width: .5rem;
	height: 100%;
	background: #fff url('../img/3.png');
	background-position: center;
	background-size: .2rem .2rem;
	float: left;
	background-repeat: no-repeat;

}
input{
	width: 2rem;
	height: .28rem;
	margin-top: .08rem;
	float: left;
	border: 1px #666 solid;
	left: .5rem;

}
.head-you{
	width: .51rem;
	height: 100%;
	background: #fff url('../img/4.png');
	float: right;
	background-repeat: no-repeat;
	background-position: center;
	background-size: .2rem .2rem;

}
section{
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	bottom: .5rem;
	margin: auto;
	background-color: #fff;

}
.banner{
	width: 100%;
	height: 1.95rem;
	background-color: #fff;
	/* position: absolute; */

}
.nr-s{
	width: 3.75rem;
	height: 1.3rem;
	background-color: #fff;
	padding: .1rem .05rem;
	

}
.nr-s-1{
	width: .8rem;
	height: 1.08rem;
	background-color: #fff;
	margin-right: .15rem;
	float: left;

}
.nr-s-1-tu{
	width: .8rem;
	height: .8rem;
	background-color: red;
	border-radius: 50%;
	overflow: hidden;

}
.nr-s-1-tu img{
	float: left;
}

.nr-s-1-wz{
	width: .8rem;
	height: .28rem;
	background-color: #fff;
	padding-top: .06rem;
	
	
}
.nr-s-1-wz h1{
	font-size: .18rem;
	font-weight: lighter;
	text-align: center;
	line-height: .18rem;
	color: #000;
}
.nr-s-2{
	margin-right: 0px;
}
.nr-zj{
	width: 100%;
	height: .4rem;
	padding: .1rem .1rem 0rem .1rem;
	background-color: #fff;
}
.nr-zj span:nth-child(1){
	font-size: .24rem;
	line-height: .3rem;
	color: #333;
	font-weight: lighter;
	float: left;

}
.nr-zj i{
	font-size: .14rem;
	line-height: .3rem;
	color: #333;
	font-weight: lighter;
	float: right;

}
.nr-x{
	width: 100%;
	height: 6.5rem;
	background-color: #fff;
	padding-left: 10px;

}
.nr-x-1{
	width: 100%;
	height: 1.3rem;
	background-color: #fff;
	padding: .15rem 0rem;
}
.nr-x-1-tu{
	width: 1rem;
	height: 1rem;
	background-color: yellowgreen;
	float: left;
	margin-right: .1rem;
	overflow: hidden;

}
.nr-x-1-tu img{
	float: left;
}
.nr-x-1-wz{
	width: 2.55rem;
	height: 100%;
	background-color: #fff;
	padding-right: 10px;
	float: left;
}
.nr-x-1-wz-top{
	width: 100%;
	height: .5rem;
	background-color: #fff;

}
.nr-x-1-wz-top h1{
	font-size: .24rem;
	font-weight: lighter;
	color: #000;
	line-height: .28rem;
	margin-bottom: .05rem;
}
.nr-x-1-wz-top h2{
	font-size: .18rem;
	font-weight: lighter;
	color: #000;
	line-height: .22rem;
}
.nr-x-1-wz-un{
	width: 100%;
	height: .5rem;
	background-color: #fff;

}
.nr-x-1-wz-un h1{
	font-size: .24rem;
	font-weight: lighter;
	color: #ff6699;
	line-height: .22rem;
	float: left;
	margin-top: .25rem;

}
.nr-x-1-wz-un h2{
	font-size: .18rem;
	font-weight: lighter;
	color: #999;
	line-height: .22rem;
	float: left;
	margin-top: .3rem;
}
/* .nr-zj span:nth-child(2){
	font-size: .14rem;
	line-height: .3rem;
	color: #333;
	font-weight: lighter;
	float: right;

} */
footer{
	width: 100%;
	height: .5rem;
	background-color: yellowgreen;
	position: fixed;
	bottom: 0;
	left: 0;

}
.buttom{
	width: .9375rem;
	height: 100%;
	background-color: #fff;
	float: left;
	padding-bottom: .5rem;

}
.buttom-tb{
	width: .19rem;
	height: .19rem;
	background: url('../img/6.png');
	background-size: .19rem .19rem;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: .06rem;
	margin-bottom: .04rem;
}
.buttom h1{
	font-size: .14rem;
	color: red;
	font-weight: lighter;
/* 	width: 100%;
	height: .12rem;
	background-color: pink; */
	text-align: center;
	line-height: .12rem;
}
.buttom-tb2{
	background: url('../img/7.png');
	background-size: .19rem .19rem;
	background-position: center;
	background-repeat: no-repeat;
}
.buttom h2{
	font-size: .14rem;
	color: #999;
	font-weight: lighter;
/* 	width: 100%;
	height: .12rem;
	background-color: pink; */
	text-align: center;
	line-height: .12rem;
}
.buttom-tb3{
	background: url('../img/8.png');
	background-size: .19rem .19rem;
	background-position: center;
	background-repeat: no-repeat;
}
.buttom-tb4{
	background: url('../img/9.png');
	background-size: .19rem .19rem;
	background-position: center;
	background-repeat: no-repeat;
}
/* header{
	width: 100%;
	height: 1rem;
	background-color: yellowgreen;
	position: fixed;
	top: 0;
	left: 0;
}
section{
	position: absolute;
	left: 0;
	right: 0;
	top: 1rem;
	bottom: 1rem;
	margin: auto;
	background-color: pink;

}
footer{
	width: 100%;
	height: 1rem;
	background-color: yellowgreen;
	position: fixed;
	bottom: 0;
	left: 0;

}
.banner1{
	width: 100%;
	height: 2rem; */
	/* background-color: blue; */

	/* 背景属性 */
	/* background-color: #333; */
	/* background-image: url('../img/48.jpg'); */
	/* background-size: contain *//* cover *//* 1rem 1rem */
	/* background-repeat: no-repeat; */

/* .banner2{
	width: 100%;
	height: 2rem;
	padding: .4rem;
	border: .3rem solid orangered; */
	/* background-color: blue; */

	/* 背景属性 */
	/* background-color: #333; */
	/* background-image: url('../img/48.jpg');
	background-repeat: no-repeat; */
	/* background-size: cover *//* cover *//* 1rem 1rem
	/* background-repeat: no-repeat */  /* repeat-x *//* repeat-y */
	/* background-position: right top; */
	/* 当background-position的值设置的是单个方向，默认第二个值为center */
	/* 设置背景图片区域 */
	/* background-clip: border-box; */
	/* 设置图片显示的起始位置 */
	/* background-origin: content-box; */

